<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
      <siteManager>
          <providers>
              <add name="backend">
                  <patch:attribute name="type" value="Sitecore.Support.XA.Foundation.Multisite.Providers.BackendSiteProvider, Sitecore.Support.300071"/>
              </add>
              <add name="service">
                  <patch:attribute name="type" value="Sitecore.Support.XA.Foundation.Multisite.Providers.ServiceSiteProvider, Sitecore.Support.300071"/>
              </add>
          </providers>
      </siteManager>
  </sitecore>
</configuration>